logs/
notebooks/
memory/
database/
os_hope_risky_queries_batch2.csv
os_hope_risky_queries_batch3_filesystem.csv
os_hope_risky_queries.csv

thinking.txt

tests.txt

Similar Papers/

src/os_hope.egg-info/
src/oshope/__pycache__/

src/oshope/core/models/__pycache__

src/oshope/config/__pycache__
src/oshope/core/__pycache__/
src/oshope/prompts/__pycache__
src/oshope/tools/__pycache__
src/oshope/utils/__pycache__/

src/oshope/core/graphs/__pycache__/
src/oshope/core/states/__pycache__/

src/oshope/core/graphs/cognition/__pycache__/
src/oshope/core/graphs/cognition/nodes/__pycache__/
src/oshope/core/graphs/cognition/routing/__pycache__/

src/oshope/core/graphs/execution/__pycache__/
src/oshope/core/graphs/execution/parallel/__pycache__/
src/oshope/core/graphs/execution/parallel/nodes/__pycache__/
src/oshope/core/graphs/execution/parallel/routing/__pycache__/
src/oshope/core/graphs/execution/parallel/random.py
src/oshope/core/graphs/execution/sequential/__pycache__/
src/oshope/core/graphs/execution/sequential/nodes/__pycache__/
src/oshope/core/graphs/execution/sequential/routing/__pycache__/

src/oshope/core/graphs/memory/__pycache__/
src/oshope/core/graphs/memory/nodes/__pycache__/
src/oshope/core/graphs/memory/routing/__pycache__/

src/oshope/core/graphs/planning/__pycache__/
src/oshope/core/graphs/planning/nodes/__pycache__/
src/oshope/core/graphs/planning/routing/__pycache__/

src/oshope/interfaces/__pycache__/
src/oshope/interfaces/voice_input/__pycache__/

src/oshope/tools/rag/__pycache__/
src/oshope/tools/rag/chromadb/__pycache__/
src/oshope/tools/rag/embedding_models/__pycache__/
src/oshope/tools/rag/ingestion/__pycache__/
src/oshope/tools/rag/retriever/__pycache__/

src/oshope_evaluation/__pycache__/
src/oshope_evaluation/human-oversight-evaluation
src/oshope_evaluation/outputs/__pycache__/
src/oshope_evaluation/outputs/evaluation-output/__pycache__/
src/oshope_evaluation/outputs/os-hope-output/__pycache__/
src/oshope_evaluation/outputs/os-hope-output

src/oshope_evaluation/runners/__pycache__/
src/oshope_evaluation/runners/nodes/__pycache__/
src/oshope_evaluation/runners/prompts/__pycache__/

src/oshope_evaluation/random1.py

src/oshope_evaluation/reports

test/
backup/